{% extends 'base.html.twig' %}

{% block title %}
  Welcome to FakeBNB ! Best place to get a flat for your next trip :D
{% endblock %}

{% block body %}
<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-3">Welcome to FakeBNB !</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis at harum, dolorum tenetur quia ut temporibus odio, nisi, eos nihil enim provident vel exercitationem iure esse ea consectetur molestias culpa.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem numquam eius harum expedita excepturi esse ?</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{{ path('ads_index') }}" role="button">Check our adds</a>
    </p>
  </div>

  <h2 class="h1 mt-3 mb-4">Our best flats !</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card bg-light mb-3">
        <div class="card-header text-center">
          3 rooms, <strong>52&euro; / night</strong><br>
          <small>No mark yet :c</small>
        </div>
        <img src="http://placehold.it/1000x400" alt="Room picture" style="width: 100%; display: block">

        <div class="card-body">
          <h4 class="card-title">
            Awesome flat in Amsterdam !
          </h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat doloribus illum est doloremque unde rem, beatae tempora perferendis necessitatibus nihil.
          </p>
          <a href="#" class="btn btn-secondary">Learn more</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-light mb-3">
        <div class="card-header text-center">
          3 rooms, <strong>52&euro; / night</strong><br>
          <small>No mark yet :c</small>
        </div>
        <img src="http://placehold.it/1000x400" alt="Room picture" style="width: 100%; display: block">

        <div class="card-body">
          <h4 class="card-title">
            Awesome flat in Amsterdam !
          </h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat doloribus illum est doloremque unde rem, beatae tempora perferendis necessitatibus nihil.
          </p>
          <a href="#" class="btn btn-secondary">Learn more</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-light mb-3">
        <div class="card-header text-center">
          3 rooms, <strong>52&euro; / night</strong><br>
          <small>No mark yet :c</small>
        </div>
        <img src="http://placehold.it/1000x400" alt="Room picture" style="width: 100%; display: block">

        <div class="card-body">
          <h4 class="card-title">
            Awesome flat in Amsterdam !
          </h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat doloribus illum est doloremque unde rem, beatae tempora perferendis necessitatibus nihil.
          </p>
          <a href="#" class="btn btn-secondary">Learn more</a>
        </div>
      </div>
    </div>
  </div>

  <h2 class="h1 mt-3 mb-4">Our best hosts !</h2>
  <div class="row">
    <div class="col">
      <div class="card border-primary mb-3">
        <div class="card-body">
          <h4 class="card-title">
            Simon Escure
          </h4>

          <hr>

          <div class="card-text">
            <img src="http://placehold.it/64x64" alt="Avatar Simon Escure" class="float-left mr-3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, earum!</p>
            <a href="#" class="btn btn-success float-right">Learn more !</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-primary mb-3">
        <div class="card-body">
          <h4 class="card-title">
            Sophie Martin
          </h4>

          <hr>

          <div class="card-text">
            <img src="http://placehold.it/64x64" alt="Avatar Sophie Martin" class="float-left mr-3">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, cupiditate.</p>
            <a href="#" class="btn btn-success float-right">Learn more !</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}