.container {
  margin-top: 20px;
}

/** Single add page **/
.ad-title {
  padding: 2em;
  background-size: cover;
  background-position: center center;
}

.ad-title h1, .ad-title p {
  color: hsla(0,0%,92%);
  text-shadow: 3px 1px 3px hsla(0,0%,0%,.7);
  font-weight: bolder;
}

.ad-title .btn {
  margin-top: 2em;
  font-size: 1.3em;
  line-height: 1.3em;
  letter-spacing: .1em;
  border: 1px solid hsla(0,0%,92%,.9);
}

.carousel-caption, .carousel-caption h5 {
  color: hsla(0,0%,92%) !important;
  text-shadow: 1px 1px 5px hsla(0,0%,0%,.7);
}

.avatar {
  max-width: 128px;
  max-height: 128px;
  border-radius: 50%;
}

.avatar-medium {
  max-width: 64px;
  max-height: 64px;
}

.avatar-mini {
  max-width: 24px;
  max-height: 24px;
}

/** Datepicker **/
.datepicker table tbody tr td.disabled, .datepicker table tr td.disabled:hover {
  color: hsl(0, 68%, 42%) !important;
  background-color: hsla(0, 38%, 80%, .5) !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  -mo-border-radius: 0 !important;
}

/** Rating stars **/
.rating .fas.fa-star {
  color: rgb(218, 165, 32);
}

/** Comment **/
blockquote {
  font-style: italic;
}

/** Booking details **/

.alert a {
  text-decoration: none;
}

.alert .btn-primary {
  color: hsla(0,0%,100%,1);
}