.container {
  margin-top: 20px;
}

/** Single add page **/
.ad-title {
  padding: 2em;
  background-size: cover;
  background-position: center center;
}

.ad-title h1, .ad-title p {
  color: hsla(0,0%,92%);
  text-shadow: 3px 1px 3px hsla(0,0%,0%,.7);
  font-weight: bolder;
}

.carousel-caption, .carousel-caption h5 {
  color: hsla(0,0%,92%) !important;
  text-shadow: 1px 1px 5px hsla(0,0%,0%,.7);
}

.avatar {
  max-width: 128px;
  max-height: 128px;
  border-radius: 50%;
}

.avatar-medium {
  max-width: 64px;
  max-height: 64px;
}

.avatar-mini {
  max-width: 24px;
  max-height: 24px;
}